<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeter Form</title>
</head>
<body>
    
    <h3>Let's see if I can do this now that I'm less tired.</h3>
    <h1>Greeter Form</h1>
    <form action="/greet"> 
        <input type="text" placeholder="your name" name="username"> 
        <button>Submit!</button>
    </form>   

</body>
</html>