{% extends 'base.html' %}

{% block title %}Greet 2{% endblock %}

{% block content %}  
  
    <h3>Greeter Response 2</h3>
    <h1>Greetings {{usergreet}}!!</h1>

    {% if wcom %}
        <h2>Buddy, you are so:</h2>
        <ul>
            {% for comp in nicety %}
                <li>{{comp}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Yeah, I get tired of people talking all the time too!</h2>
    {% endif %}
    <br><br>
    <a href="/form2">Back to form2.</a>
    <form action="/form2"> 
        <button>Submit!</button>
    </form>   
    <!-- Either of the above methods works to get back to the form.html page. -->
    
{% endblock %}