{% extends 'base.html' %}

{% block title %}Lucky{% endblock %}

{% block content %} 
    <p>Youre lucky numbers is: {{lnum}}</p>
    <!-- This conditional is *Jinja*, NOT Python: { % % } implies logic, { { } } implies render-->
    {% if lnum == 3 %}
        <h2>"Cool number bro."</h2>
        <img src="https://c.tenor.com/BnEKiDKJisEAAAAS/claire-dancing.gif">
    {% else %}
        <h2>"Kinda sus."</h2>
        <img src="https://c.tenor.com/9mWE69XonqoAAAAM/darwin.gif">
    {% endif %}
{% endblock %}

