<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeter Form</title>
</head>
<body>
 
    <p>Youre lucky numbers is: {{lnum}}</p>
    <!-- This conditional is *Jinja*, NOT Python: { % % } implies logic, { { } } implies render-->
    {% if lnum == 3 %}
        <h2>"Cool number bro."</h2>
        <img src="https://c.tenor.com/BnEKiDKJisEAAAAS/claire-dancing.gif">
    {% else %}
        <h2>"Kinda sus."</h2>
        <img src="https://c.tenor.com/9mWE69XonqoAAAAM/darwin.gif">
    {% endif %}

    
</body>
</html>